@model IQueryable<Dal.KindOfSport>

@{ Layout = null; }

<select name="kindOfSportId">
    <option value="">Любой</option>
@foreach (var cat in Model)
{
    <option value="@cat.id">@cat.sport_name</option>
}
</select>