.container.body-content{
    text-align: center;
}
.body-content > *{
    margin: 30px auto;
}
.kind-of-sport{
    font-size: 3rem;
    font-weight: bold;
}
.trainer-container{
    font-size: 2rem;
}
.trainer-picture{
    max-height: 240px;
    max-width: 320px;
    display: block;
    margin: 10px auto 0px auto;
}
.trainer-name{
    font-weight: bold;
}
.phone-container{
    font-size: 1.5rem;
    margin: 10px auto;
    color: #BA9048;
}
.time-of-workout{
    color: #7C6BDE;
    font-size: 1.6rem;
}
.day-of-week-container{
    margin-top: 50px;
}
.day-of-week-container > *{
    margin: 0 auto;
}
.day-of-week-title{
    font-size: 2rem;
}
.date-of-workout-table td{
    padding: 10px;
    min-width: 100px;
    cursor: default;
}
.date-of-workout-table .yes{
    color: #5D82EB;
    font-size: 120%;
    transition: text-shadow 50ms;
}
.date-of-workout-table .yes:hover{
    text-shadow: 0px 0px 1px black;
}
.date-of-workout-table .no{
    color: rgba(136, 136, 136, 0.4);
}
.address-text{
    margin: 50px;
    font-size: 120%;
}
