
@{
    ViewBag.Title = "Admin";
}

<h2>Добавление</h2>

<div>
	@Html.ActionLink("Добавить заведение", "AddHall")
</div>
<div>
	@Html.ActionLink("Добавить занятие", "AddWorkout")
</div>
<div>
	@Html.ActionLink("Добавить тренера", "AddTrainer")
</div>