@{ 
    ViewBag.Title = "SportGuide - Главная страница";
}

<h1 style="text-align:center;">SportGuide</h1>

<div>
    Главная страница - @User.Identity.Name
</div>
Мы поможем вам в спорте. От нас выходило не мало спортсменов, бла бла бла...
<div>
	@{
	}
</div>