@{ 
    ViewBag.Title = "SportGuide - Главная страница";
}

<h1 style="text-align:center;">Главная страница - SportGuide</h1>
<hr />

@if (User.Identity.IsAuthenticated)
{
	<div>Ваш id: <b>@User.Identity.Name</b></div>
}

<div>
	Это главная страница будущего сайта, если вы читаете этот текст, то скорее всего дизайн ещё не пригнали
</div>