
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
@ViewBag.getAll.Length
@*foreach (var item in ViewBag.getAll as Dal.Hall[])
{
	<span>
		@item.id
		@item.hall_name
	</span>
	<hr/>
}*@

@*@ViewBag.getAll.id
@ViewBag.getAll.category_name*@